<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header">
          <h1 class="text-center">DA Form</h1>
        </div>
        <div class="card-body">

          <form>
            <div class="mb-3">
              <label for="applicant" class="form-label">Pengaju:</label>
              <select class="form-select" name="applicant" id="applicant">
                <option value="" disabled selected>Pilih Pengaju</option>
                <option value="1">user1</option>
                <option value="2">user2</option>
                <option value="3">user3</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="approved" class="form-label">Disetujui:</label>
              <select class="form-select" name="approved" id="approved">
                <option value="" disabled selected>Pilih Disetujui</option>
                <option value="1">user1</option>
                <option value="2">user2</option>
                <option value="3">user3</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="isKnown" class="form-label">Mengetahui:</label>
              <select class="form-select" name="isKnown" id="isKnown">
                <option value="" disabled selected>Pilih Mengetahui</option>
                <option value="1">user1</option>
                <option value="2">user2</option>
                <option value="3">user3</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="executor" class="form-label">Eskutor:</label>
              <select class="form-select" name="executor" id="executor">
                <option value="" disabled selected>Pilih Eksutor</option>
                <option value="1">user1</option>
                <option value="2">user2</option>
                <option value="3">user3</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="noTiket" class="form-label">No Tiket:</label>
              <input type="text" class="form-control" id="noTiket" name="noTiket" required>
            </div>

            <div class="mb-3">
              <label for="da-code" class="form-label">No DA:</label>
              <input class="form-control" type="text" placeholder="No DA" readonly>
            </div>

            <div class="mb-3">
              <label for="deskripsi" class="form-label">Deskripsi:</label>
              <textarea class="form-control" id="deskripsi" name="deskripsi" rows="5" required></textarea>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>