// styles.scss

.container {
  margin-top: 50px;

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    .card-header {
      background: linear-gradient(to right, #3498db, #6c5ce7);
      color: #fff;
      border-bottom: none;

      h3 {
        margin-bottom: 0;
      }
    }

    .list-group-item {
      border: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f8f9fa;
      }

      .d-flex {
        justify-content: space-between;
        align-items: center;

        h5 {
          margin-bottom: 5px;
          color: #343a40;
        }

        .text-muted {
          color: #6c757d;
        }

        .btn-outline-primary {
          border-color: #3498db;
          color: #3498db;

          &:hover {
            background-color: #3498db;
            color: #fff;
          }
        }
      }
    }
  }
}
