<nav class="sidebar-nav">
    <ul id="sidebarnav" class="p-3">
        <li class="sidebar-item" [class.active]="isSubMenuActive(sidebarnavItem)" *ngFor="let sidebarnavItem of sidebarnavItems">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a class="sidebar-link waves-effect waves-dark" *ngIf="sidebarnavItem.submenu.length === 0"
                [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" [routerLinkActive]="sidebarnavItem.submenu.length === 0 ? 'active' : ''">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}</span>
            </a>
            <a class="sidebar-link waves-effect waves-dark" *ngIf="sidebarnavItem.submenu.length > 0" (click)="toggleSubMenu(sidebarnavItem)">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}</span>
                <i class="bi bi-chevron-right"></i>
            </a>
            <ul *ngIf="sidebarnavItem.submenu.length > 0" [ngClass]="{'d-block': isSubMenuActive(sidebarnavItem), 'd-none': !isSubMenuActive(sidebarnavItem)}" class="sub-menu">
                <li *ngFor="let submenuItem of sidebarnavItem.submenu">
                    <a [routerLink]="submenuItem.path" [ngClass]="[submenuItem.class]" [routerLinkActive]="'active'">
                        <i [ngClass]="[submenuItem.icon]"></i>
                        <span>{{submenuItem.title}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
