<nav class="sidebar-nav">
  <ul id="sidebarnav" class="p-3">
    <ng-container *ngFor="let sidebarnavItem of sidebarnavItems">
      <li class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title">
        <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{ sidebarnavItem.title }}</div>
        <a class="sidebar-link waves-effect waves-dark" style="cursor: pointer;"
           (click)="sidebarnavItem.dropdown ? toggleDropdown(sidebarnavItem) : toggleSubMenu(sidebarnavItem)"
           [routerLink]="sidebarnavItem.submenu.length === 0 ? [sidebarnavItem.path] : null"
           [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
           [routerLinkActive]="sidebarnavItem.submenu.length !== 0 ? '' : 'active'">
          <i [ngClass]="[sidebarnavItem.icon]"></i>
          <span class="hide-menu">{{ sidebarnavItem.title }}</span>
          <span class="menu-arrow" *ngIf="sidebarnavItem.dropdown">&#9662;</span>
        </a>

        <ul *ngIf="sidebarnavItem.submenu.length !== 0 && isDropdownOpen && sidebarnavItem.title == isDropdownMenuTitleActive" class="nav-submenu" [ngClass]="{'in': isSubMenuActive(sidebarnavItem)}">
          <li class="sidebar-item ms-4 ps-3 " [class.active]="showMenu === subItem.title" *ngFor="let subItem of sidebarnavItem.submenu">
            <a class="sidebar-link waves-effect waves-dark" [routerLink]="[subItem.path]" (click)="addExpandClass(subItem.title)">
              <span class="hide-menu">{{ subItem.title }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>